*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}

.container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#f2f6f8;
    padding: 12% 12%;
}
.container h2{
    color: rgb(61, 61, 61);
}
.container p{
    color: rgb(143, 143, 143);
    font-size: 14px;
    padding: 8px 0 24px;
    line-height: 20px;
}

.form-data{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column  ;
    font-size: 14px ;
}

.text-input{
    height: 48px;
    padding: 8px;
    font-size: 14px;
    margin: 8px 0;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 6px lightgray;
}

 .checkbox-container{
     display: flex;
     align-items: center;
 }

 .checkbox-container label{
     cursor: pointer;
     display: flex;
 }

 .checkbox-container input{
     cursor: pointer;
     transform: scale(1.5);
     margin-right: 0;
     opacity: 0;
     position: absolute ;
     margin-left: .3em;
 }

 .checkbox-container label::before{
     content:'';
     width: 1em;
     height: 1em;
     border: .1em solid #fcb8ae;
     border-radius: .15em;
     margin-right: .5em;
 }

 .checkbox-container label:hover::before ,
 .checkbox-container input:hover + label::before{
     background-color: #f09c8f;
 }

.checkbox-container input:focus + label::before{
    box-shadow: 0 0 10px rgb(129, 129, 129);
}

 .checkbox-container input:checked + label::before{
     content: '\002714';
     background-color: #da5743;
     display: flex;
     justify-content: center;
     align-items: center;
     color: #e0e0e0;
 }

 .remember{
     display: flex;
     justify-content: space-between;
     margin: 16px 0;
 }

 .remember a{
     color: rgb(110, 110, 110);
 }
 .btn{
     height: 48px;
     font-size: 16px;
     background-color: #e78070;
     color: #e0e0e0;
     border: none;
     border-radius: 5px;
 }

.btn:hover{
    background-color:#da5743 ;
}

.pic{
    background-image: url(./photo/image.jpg);
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    float: right;
}